SESSION_SECRET=xxxxx
DB_HOST=**Database host address**
DB_USER=**Database user name**
DB_PASS=**Database password**
GSHEET_DOC_ID=xxxxx
GSHEET_TYPE=xxxxx
GSHEET_PROJECT_ID=xxxxx
GSHEET_PRIVATE_KEY_ID=xxxxx
GSHEET_PRIVATE_KEY=xxxxx
GSHEET_CLIENT_EMAIL=xxxxx
GSHEET_CLIENT_ID=xxxxx
GSHEET_AUTH_URI=xxxxx
GSHEET_TOKEN_URI=xxxxx
GSHEET_AUTH_PROVIDER_X509_CERT_URL=xxxxx
GSHEET_CLIENT_X509_CERT_URL=xxxxx
COMPANY_DHL_ACCOUNT=xxxxxxxxxx
COMPANY_COMPANY=xxxxxx
COMPANY_CONTACT=xxxxxx
COMPANY_PHONE=xxxxxx
COMPANY_EMAIL=xxxxxxxx
COMPANY_ADDRESS=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx