SESSION_SECRET=xxxxx
DB_NAME_GCS=xxxxxxxxxx
DB_NAME_TRACK=xxxxxxxxxx
DB_HOST=xxxxxxxxxx
DB_USER=xxxxxxxxxx
DB_PASS=xxxxxxxxxx
COMPANY_DHL_ACCOUNT=xxxxxxxxxx
COMPANY_COMPANY=xxxxxx
COMPANY_CONTACT=xxxxxx
COMPANY_PHONE=xxxxxx
COMPANY_EMAIL=xxxxxxxx
COMPANY_ADDRESS=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_API_KEY=/*For shortening names*/
OPENAI_API_KEY2=/*For content creation*/
LINK_1=xxx HELPDESK LINK xxx
LINK_2=xxx INTERNAL COMMUNICATION LINK 1 xxx
LINK_3=xxx INTERNAL COMMUNICATION LINK 2 xxx
LINK_4=xxx INTERNAL COMMUNICATION LINK 3 xxx
LINK_5=xxx INTERNAL COMMUNICATION LINK TO COMMENT OF LINK_2 xxx
AIT_UPDATES_CONTENT_ID=xxx