SESSION_SECRET=xxxxx
DB_HOST=xxxxxxxxxx
DB_USER=xxxxxxxxxx
DB_PASS=xxxxxxxxxx
COMPANY_DHL_ACCOUNT=xxxxxxxxxx
COMPANY_COMPANY=xxxxxx
COMPANY_CONTACT=xxxxxx
COMPANY_PHONE=xxxxxx
COMPANY_EMAIL=xxxxxxxx
COMPANY_ADDRESS=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx