/* Global settings */
.hidden {
	display: none;
}
.data {
	display: none;
}

/* Layout settings */
.layout_title {
	font-size: 25px;
	float: right;
	color: #FFFFFF;
	padding: 5px;
	border-style: solid;
	border-color: #000000;
	background-color: #606060;
	border-radius: 15px;
}
.body_tab {
	border-style: solid;
	padding: 5px;
	margin-top: 10px;
}

a {
	color: rgb(166, 166, 255);
}

table {
	width: 100%;
}
th, td {
	text-align: center;
}

.full {
	width: 100%;
}
.half {
	width: 50%;
}
.third {
	width: 33%;
}
.forth {
	width: 25%;
}
.fifth {
	width: 20%;
}

/* Interface settings */
.important_button {
	font-size: 20px;
	padding: 14px 16px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: white;
	color: black;
	border: 2px solid #555555;
	border-radius: 8px;
}
.important_button:hover {
	background-color: #555555;
	color: white;
}

.textarea_edit {
	width: 100%;
	height: 500px;
	overflow: scroll;
}
.textarea_search {
	overflow: none;
	resize: none;
}

.output {
	border-style: solid solid solid solid;
}

.checking {
	background-color: #FFFF00;
}

.category {
	border-style: solid;
	border-radius: 5px 5px 5px 5px;
	color: black;
	float: left;
	height: 36px;
}

/* New menu bar */
.menubar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}
.menubar li{
	float: left;
	height: 62px;
}
.menubar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	height: 52px;
}
.menubar li a:hover {
	background-color: #111;
}
.editbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.editbar li{
	float: left;
	height: 60px;
}
.editbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 18px 5px;
	text-decoration: none;
	height: 60px;
}
.editbar input {
	margin-top: 12px;
	margin-left: 5px;
	margin-right: 2px;
}
.editbar li a:hover {
	background-color: #111;
}
.contentblock {
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.warning_text {
	background-color:yellow;
}
.error_text {
	background-color:red;
}

.tooltip {
	position: relative;
	display: inline-block;
	border: 2px solid rgb(75, 55, 255);
	border-radius: 100%;
	width: 20px;
	height: 20px;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 500px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	font-size: 12px;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -250px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltip b {
	color: rgb(226, 226, 30);
}

/* Category colors */
._order_item_statuses_ {
	background-color: #E0E034;
}
._order_modifying_ {
	background-color: #FF70D8;
}
._account_related_ {
	background-color: #80FF80;
}
._payment_shipping_ {
	background-color: #8888FF;
}
._after_service_shipping_ {
	background-color: #AA8888;
}
._after_service_defect_ {
	background-color: #AA8888;
}
._after_service_preowned_ {
	background-color: #AA8888;
}
._returns_refunds_ {
	background-color: #FFCC88;
}
._claims_cases_ {
	background-color: #FF8888;
}
._other_ {
	background-color: #FF6699;
}
._work_related_ {
	background-color: #9090E0;
}

/* Target colors */
._case_assist_ {
	background-color: #66FFFF;
}
._customer_dep_ {
	background-color: #00FF99;
}
._logistics_dep_ {
	background-color: #33CC33;
}
._feedback_ {
	background-color: #FFCC66;
}
/*._other_ {
	background-color: #FF6699;
}*/

/*
Responsive design
*/

.resp_wide {
	display:none;
}
.resp_tiny {
	display:inline;
}
@media screen and (min-width: 1050px) {
	.resp_wide {
		display:inline;
	}
	.resp_tiny {
		display:none;
	}
}

.resp_wide2 {
	display:none;
}
.resp_tiny2 {
	display:inline;
}
@media screen and (min-width: 950px) {
	.resp_wide2 {
		display:inline;
	}
	.resp_tiny2 {
		display:none;
	}
}

@media screen and (max-width: 600px) {
	.resp_wide {
		display:none;
	}
	.resp_tiny {
		display:none;
	}
	.resp_wide2 {
		display:none;
	}
	.resp_tiny2 {
		display:none;
	}
}