extends layout

block content
  h1 About
  hr
  p Welcome to GCS Support Tool created by Lennart.
  h3 Background
  p When I started working as customer support, we mainly used a text document to keep track of the mail templates, and we did not have a proper manual when I started working. So I got the idea to create an HTML file instead for the templates that we were using at the time. After using the HTML tool for some time, I realized that it was hard to maintain the tool and add new content, so I decided to switch over to dynamically loaded content, and due to browser security limitations, it became necessary to copy paste the content data into the tool. At this point a started to think that the tool could become useful for the team, so I decided to include our Mail Manuals in the tool, as well as make a more useful interface for the tool. The next major step was to make the data handling easier, and at this point I got access to a server for the tool, so I moved the Master data to be loaded from a file on the server, and save/load Personal data from the browser memory. Due to the still existing limitations in sharing and updating the data used by the tool, then next and current step of implementing the tool in Node.js and the Express framework was decided, and the data will be stored in a database on the server for easier sharing.
  h3 Version History
  b Version 2.2.0 [2020-04-15]
  ul
    li Changed to user login system
      ul
        li Non-logged in users can only access login page
  b Version 2.1
  ul
    li Sound effects for reminders
    li Licence details on about page
    li Scheduler added Holiday (national holidays) and Vacation (additional days off)
    li Added yearly schedule
    li Schedule main layout shows 1 week schedule for all staff members
    li Possible to do a search on Content page on open page, through GET parameters
  b Version 2.0
  ul
    li Some parts of the tool moved to server side (Using Node.js, Express, Sequalize(MySQL))
    li Dynamic HTML page with dynamic content loaded from database on server (Personal data also saved on server)
    li Handling Templates, Manuals, Company Contact Templates data
    li Add/Edit function within the tool, with data saved automatically on server
    li Includes Dark color mode and Scheduler function
      ul
        li Scheduler function supports: Work full day, 2hrs off in morning/evening, half day off in morning/evening, full day off
    li Used by international customer support mail team
  b Version 1.5
  ul
    li Static HTML page with dynamic content loaded from server (Master data) and browser memory (Personal data)
    li Handling Templates, Manuals, Company Contact Templates data
    li Add/Edit function within the tool, where Personal data is saved automatically, but Master data need to be saved manually and the file needs to be manually updated on the server
    li Search function for finding templates/manuals/assistance calculators/company contact templates
    li Dark color mode added
    li Scheduler function added (data handled the same way as Master data)
    li Used by international customer support mail team
  b Version 1.0
  ul
    li Static HTML page with dynamic content loaded by copy-pasting data from a local text file
    li Handling Templates, Manuals, Assistance Calculator, Company Contact Templates data
    li Add/Edit function within the tool, but need to manually save data to local text file
    li Search function for finding templates/manuals/assistance calculators/company contact templates
    li Used by international customer support mail team
  b Version 0.5
  ul
    li Static HTML page with dynamic content loaded by copy-pasting data from a local text file
    li Function for adding templates within tool, but need to manually save data to local text file
    li Search function for finding templates
    li Only used by Lennart
  b Version 0.1
  ul
    li Static HTML page with some links and sections for easier navigation to the various templates
    li Only used by Lennart
  h3 Licence
  ul
    li GCS Support Tool: 
      b GPL-3.0
    li Sound effects from https://freesound.org: 
      b Creative Commons 0 License
  h3 Technical References
  ul
   li Inspiration from https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs
