extends layout

block content
    h1(lg_language='_add_admin_staff_')
    form(action='/adminadd', method='post')
        div.form-group
            label(for='newuserid', lg_language='_user_id_')
            input#newuserid.form-control(type='text' name='newuserid' required='true')
            label(for='newteam', lg_language='_team_')
            select#newteam.form-control(name='newteam')
                option(value='ohami_gcs_mail', lg_language='ohami_gcs_mail')
                option(value='ohami_gcs_order', lg_language='ohami_gcs_order')
                option(value='ohami_gcs_korea', lg_language='ohami_gcs_korea')
                option(value='ohami_gcs_boss', lg_language='ohami_gcs_boss')
            label(for='newrole', lg_language='_role_')
            select#newrole.form-control(name='newrole')
                option(value='user', lg_language='_user_')
                option(value='admin', lg_language='_admin_')
        button.btn.btn-primary(type='submit', lg_language='_submit_')