extends layout

block content
    a(href='/adminadd', lg_language='_add_staff_')
    | 
    a(href='/adminremove', lg_language='_remove_staff_')
    hr
    h1(lg_language='_users_')
    ul
        each u in users
            li= u.userid
                i= '(' + u.role + ')'