extends layout

block content
    h1 Add Admin Staff
    form(action='/adminadd', method='post')
        div.form-group
            input#creator(type='hidden', name='creator')
            label(for='userid') User ID
            input#userid.form-control(type='text' name='userid' required='true')
        button.btn.btn-primary(type='submit') Submit