extends layout

block content
  h1 Transfer data from tracking tool 
  i Please select all JSON files from the tracking tool and upload 
  form(action="/country/transfer", method="post", enctype="multipart/form-data") 
    input#data.form-control(type="file", name="data", multiple="multiple")
    input.btn.btn-primary(type="submit", value="Upload")
