extends layout

block content
    h2 Filter
    span.frame
        span(lg_language='_input_')
        input#s_box(name='search', type='text')
        | 
        input#s_template(name='search', type='checkbox')
        span(lg_language='_templates_')
        | 
        input#s_manual(name='search', type='checkbox')
        span(lg_language='_manual_')
        | 
        input#s_ccontact(name='search', type='checkbox')
        span(lg_language='_ccontact_')
        | 
        button(onclick='Filter()') Apply Filter
    hr
    each val in users
        div(class='entry ' + val.category)
            button(class='title_button ' + val.tag, onclick='DisplayEntry(\'entry' + val.id + '\')')= val.title
            i.label= val.category
            i(class='label' + (val.ismaster ? ' master' : ''), style='float:right;')= val.ismaster ? 'Master' : 'Private'
            br
            div(id='entry' + val.id, style='display:none;')
                each content in val.contents
                    if val.category == 'manual'
                        div !{content.data}
                    else
                        textarea(style='width: 100%; height: 135px;', onclick='Selector(this)' readonly)= content.data