extends layout

block content
    if errors===undefined
        h2(lg_language='_confirm_delete_')
        span(lg_language='_confirm_delete_1_')
        span= entry.title
        span(lg_language='_confirm_delete_2_')
        form(action='/entry/' + entry.id + '/delete', method="post")
            button.btn.btn-primary(type='submit', lg_language='_submit_delete_')
    else
        h2(lg_language='_couldnt_delete_')
        ul
            for error in errors
                li!= error.msg
        hr
        a(href="/entry", lg_language='_back_')