extends layout

block content
    a.btn.btn-link(href='/entry/create', lg_language='_create_new_')
    hr
    - const tags = ['_account_related_','_order_item_statuses_','_order_modifying_','_payment_shipping_','_after_service_shipping_','_after_service_defect_','_after_service_preowned_','_returns_refunds_','_claims_cases_','_work_related_','_case_assist_','_customer_dep_','_logistics_dep_','_feedback_','_other_'];
    h2(lg_language='_filter_')
    span.frame
        span(lg_language='_input_')
        input#s_box(name='search', type='text', value=search)
        span.tooltip TIP
            span.tooltiptext(lg_language='_tooltip_filter_')
        | 
        input#s_template(name='search', type='checkbox', checked, onclick='UpdateFilter()')
        span(lg_language='_templates_')
        | 
        input#s_manual(name='search', type='checkbox', checked, onclick='UpdateFilter()')
        span(lg_language='_manuals_')
        | 
        input#s_ccontact(name='search', type='checkbox', checked, onclick='UpdateFilter()')
        span(lg_language='_ccontact_')
        | 
        select#s_tag(name='search', onchange='UpdateFilter()')
            option(value='_', lg_language='_all_')
            each tag in tags
                option(value=tag, lg_language=tag)
        | 
        if request.role === 'admin'
            span
                input#admin(type='checkbox', name='admin', onclick='AdminCheckBox()')
                span(lg_language='_other_user_data_')
                | 
        button#filter_key(onclick='Filter()', lg_language='_apply_filter_', title='<Enter>')
        button#clear_key(onclick='Clear()', lg_language='_clear_filter_', title='<Esc>')
    hr
    #back
    each entry in entries
        div(class='entry ' + entry.category)
            button(class='title_button ' + entry.tag, onclick='DisplayEntry(\'entry' + entry.id + '\')')= entry.title
            i.label(lg_language='_' + entry.category + '_')
            i(class='label' + (entry.ismaster ? ' master' : ''), style='float:right;', lg_language=entry.ismaster ? '_master_' : '_private_')
            br
            div(id='entry' + entry.id, style='display:none;')
                each content in entry.contents
                    if entry.category == 'manual'
                        div !{content.data}
                    else
                        textarea(style='width: 100%; height: 135px;', onclick='Selector(this)' readonly)= content.data
                    hr
                i(lg_language='_created_')
                i= entry.creator
                br
                if request.role === 'admin' || entry.ismaster == false
                    a.entry_control(href='./entry/' + entry.id + '/update', lg_language='_edit_data_')
                    a.entry_control(href='./entry/' + entry.id + '/delete', lg_language='_delete_data_')
                a.entry_control(href='./entry/' + entry.id + '/createcopy', lg_language='_submit_create_copy_')