extends layout

block content
  h1(lg_language='_hs_step_1_')
  p(lg_language='_hs_description_1_')
  input#inputfile.form-control(type="file", name="inputfile")
  h1(lg_language='_hs_step_2_')
  p(lg_language='_hs_description_2_')
  a.btn.btn-link(href="https://hts.usitc.gov/", target="_blank", lg_language='_hs_link_')
  div#hsinput
  h1(lg_language='_hs_step_3_')
  p(lg_language='_hs_description_3_')
  button.btn.btn-primary(onclick="Generate()", lg_language='_generate_csv_')

  pre#sections_lookup.hidden= JSON.stringify(sections_lookup)
  pre#headings_lookup.hidden= JSON.stringify(headings_lookup)
  pre#entries.hidden= JSON.stringify(entries)

  script(src='/javascripts/FileSaver.js', defer)
  script(src='/javascripts/hs_controller_v2.js', defer)