extends layout

block content
  h1(lg_language='_gcs_tool_')
  p(lg_language='_welcome_gcs_tool_')

  hr
  h3(lg_language='_news_')
  i(lg_language='_news_update_')
  each entry in entries
    - const cDate = entry.createdAt
    - const uDate = entry.updatedAt
    - const today = new Date()
    - const withinOneWeek = new Date(today.getFullYear(), today.getMonth(), today.getDate()-7)
    - const wow_dateval = withinOneWeek.getFullYear() * 10000 + (withinOneWeek.getMonth()+1) * 100 + withinOneWeek.getDate()
    - const cd_dateval = cDate.getFullYear() * 10000 + (cDate.getMonth()+1) * 100 + cDate.getDate()
    - const ud_dateval = uDate.getFullYear() * 10000 + (uDate.getMonth()+1) * 100 + uDate.getDate()
    div(class='entry ' + entry.category)
      button(class='title_button ' + entry.tag, onclick='DisplayEntry(\'entry' + entry.id + '\')')= entry.title
        if cd_dateval > wow_dateval
          b.update-status  ★★ NEW ★★
        else if ud_dateval > wow_dateval
          b.update-status  ★ UPDATED ★
      i.label(lg_language='_' + entry.category + '_')
      i(class='label' + (entry.ismaster ? ' master' : ''), style='float:right;' lg_language=entry.ismaster ? '_master_' : '_private_')
      br
      div(id='entry' + entry.id, style='display:none;')
        each content in entry.contents
          if entry.category == 'manual'
            div !{content.data}
          else
            textarea(style='width: 100%; height: 135px;', onclick='Selector(this)' readonly)= content.data
          hr
        i(lg_language='_created_')
        i= entry.creator

  hr
  h3(lg_language='_settings_')
  .input-group
    .input-group-prepend
      span.input-group-text(lg_language="_user_id_")
    input#user_id.form-control(type='text')
    .input-group-append
      button#update_user_id_button.btn.btn-outline-info(onclick='UpdateUserID()', lg_language='_update_uid_')
  i(lg_language='_set_once_')
  br
  br
  .input-group
    .input-group-prepend
      span.input-group-text(lg_language="_color_mode_")
    select#cmode.form-control(name="colormode")
      option(value='Style_normal.css', lg_language='_normal_')
      option(value='Style_dark.css', lg_language='_dark_')
    .input-group-append
      button.btn.btn-outline-info(onclick='UpdateColorMode()', lg_language='_update_color_')
  i(lg_language='_update_on_next_')
  hr
  h3(lg_language='_reminders_')
  table#reminders.table.table-dark
  i(lg_language='_show_popup_')

  if jp
    hr
    div(class='row')
      div(class='col-sm-12')
        h2 Japan Post news
        each entry in jp.rss.channel.item
          div
            a(href=entry.link, target="_blank")= entry.title
            i= ` (${entry.pubDate})`
