doctype html
html(lang='en')
  head
    title GCS Support Tool
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/my_style.css')
  body(onload='Loaded()')
    if !(request.admin===undefined)
      each a in request.admin
        span.admin(style='display: none;')= a.userid
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-12')
          block topbar
            ul(class='topbar-nav')
              li 
                a(href='/', lg_language='_top_settings_')
              li 
                a(href='/entry', lg_language='_content_')
              li 
                a(href='/scheduler', lg_language='_scheduler_')
              li.admin_control(style='display: none;')
                a(href='/admin', lg_language='_admin_')
              li
                input#track(type='text' placeholder='Tracking number')
                button(onclick='myGetDocument(1)') L
                button(onclick='myGetDocument(2)') I
                button(onclick='myGetDocument(0)') L+I
      hr
      #debug
      hr
      div(class='row')
        div(class='col-sm-12')
          block content
      hr
      div(class='row')
        div(class='col-sm-12')
          block bottombar
            ul(class='topbar-nav')
              li 
                a(href='/about', lg_language='_about_')
              li 
                select#lg_language(onchange='UpdateLanguageSettings()')
                  option(value='japanese') 日本語
                  option(value='english') English
                  option(value='swedish') Svenska
    script(src='/javascripts/lg_language.js')
    script(src='/javascripts/GCSTool.js')