doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/Style_normal.css')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-12')
          block topbar
            ul(class='topbar-nav')
              li 
                a(href='/entry', lg_language='_search_')
              li 
                a(href='/scheduler', lg_language='_scheduler_')
              li 
                a(href='/entry/create', lg_language='_create_')
      hr
      div(class='row')
        div(class='col-sm-12')
          block content
      hr
      div(class='row')
        div(class='col-sm-12')
          block bottombar
            ul(class='topbar-nav')
              li 
                a(href='/about', lg_language='_about_')
              li 
                select#lg_language(onchange='UpdateLanguage(\'lg_language\')')
                  option(value='japanese') 日本語
                  option(value='english') English
                  option(value='swedish') Svenska
    script(src='lg_language.js')
    script(src='javascripts/GCSTool.js')