doctype html
html(lang='en')
  head
    title GCS Support Tool
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/my_style.css')
  body(onload='Loaded()')
    div(class='container-fluid')
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href="/", lg_language="_gcs_tool_")
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/entry', lg_language='_content_')
            li.nav-item
              a.nav-link(href='/scheduler', lg_language='_scheduler_')
            li.nav-item
              a.nav-link(href='/meeting', lg_language_todo='_meeting_') Meeting
            if request.role === 'admin'
              li.nav-item
                a.nav-link(href='/admin', lg_language='_admin_')
          span.form-inline.my-2.my-lg-0
            input#track.form-control.mr-sm-2(type='text' placeholder='Tracking number' aria-label='Tracking number')
            button.btn.btn-outline-info.my-2.my-sm-0(onclick='myGetDocument(3)' title='JP Investigation/JP調査依頼') JP
            button.btn.btn-outline-info.my-2.my-sm-0(onclick='myGetDocument(1)' title='Label/ラベル') L
            button.btn.btn-outline-info.my-2.my-sm-0(onclick='myGetDocument(2)' title='Invoice/インボイス') I
            button.btn.btn-outline-info.my-2.my-sm-0(onclick='myGetDocument(0)' title='Label+Invoice/ラベル＋インボイス') L+I
      #status_bar.alert.alert-dark(style="padding:0px;")

      #debug
      #ask_labels
      audio#alertsound_1(src="/sounds/162463__kastenfrosch__message.mp3")
      audio#alertsound_2(src="/sounds/167337__willy-ineedthatapp-com__pup-alert.mp3")
      audio#alertsound_3(src="/sounds/221359__melliug__newmessage.mp3")
      audio#alertsound_4(src="/sounds/398346__henrocker01__wheep-wheep.mp3")
      hr

      div(class='row')
        div(class='col-sm-12')
          block content
      hr

      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        span.navbar-brand(style="color:grey;") Created by Lennart
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarContentBottom", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarContentBottom.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/about', lg_language='_about_')
          span.form-inline.my-2.my-lg-0
            select#lg_language.form-control.form-control.mr-sm-2(onchange='UpdateLanguageSettings()')
              option(value='japanese') 日本語
              option(value='english') English
              option(value='swedish') Svenska
    script(src='/javascripts/lg_language.js')
    script(src='/javascripts/GCSTool.js')
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")