extends layout

block content
    h1(lg_language='_add_holiday_')
    form(action='/scheduler/addholiday', method='post')
        div.form-group
            label(for='date', lg_language='_date_')
            input#date.form-control(type='date' name='date' required='true')
        button.btn.btn-primary(type='submit', lg_language='_submit_add_')
    h2 Currently registered holidays
    - const years = Object.keys(holidays)
    table.table.table-dark.table-striped
        thead
            tr
                each year in years
                    th(span="col")= year
        tbody
            - let i = 0
            while holidays[years[0]][i] || holidays[years[1]][i]
                tr
                    each year in years
                        if holidays[year][i]
                            td= holidays[year][i].date
                                button.btn.btn-outline-danger(onclick=`DeleteHoliday(${holidays[year][i].id}, this)`) X
                        else
                            td ---
                - i++
    script(src="/javascripts/holiday.js")
