extends layout

block content
    h1(lg_language='_add_schedule_')
    form(action='/scheduler/addschedule', method='post')
        div.form-group
            label(for='date', lg_language='_date_')
            input#date.form-control(type='date' name='date' required='true')
            label(for='dates', lg_language='_dates_')
            button(type='button', onclick="AddDate()", lg_language='_add_date_')
            textarea#dates.form-control(name='dates', readonly)
            label(for='staff', lg_language='_staff_')
            select#staff.form-control(name='staff')
                each s in staff
                    option(value=s.id)= s.name
            label(for='work', lg_language='_work_')
            select#work.form-control(name='work')
                option(value='work', lg_language='_work_')
                option(value='2hoff_m', lg_language='_2off_6work_')
                option(value='2hoff_e', lg_language='_6work_2off_')
                option(value='halfoff_m', lg_language='_4off_4work_')
                option(value='halfoff_e', lg_language='_4work_4off_')
                option(value='off', lg_language='_day_off_')
                option(value='holiday', lg_language='_holiday_')
                option(value='vacation', lg_language='_vacation_')
        button.btn.btn-primary(type='submit', lg_language='_submit_add_')