extends layout

block content
    h1(lg_language='_add_staff_')
    form(action='/scheduler/addstaff', method='post')
        div.form-group
            label(for='name', lg_language='_name_')
            input#name.form-control(type='text' name='name' required='true')
            label(for='getu') Monday
            select#getu.form-control(name='getu')
                option(value='work') Work
                option(value='telwork') Telework
                option(value='off') Day off
            label(for='ka') Tuesday
            select#ka.form-control(name='ka')
                option(value='work') Work
                option(value='telwork') Telework
                option(value='off') Day off
            label(for='sui') Wednesday
            select#sui.form-control(name='sui')
                option(value='work') Work
                option(value='telwork') Telework
                option(value='off') Day off
            label(for='moku') Thursday
            select#moku.form-control(name='moku')
                option(value='work') Work
                option(value='telwork') Telework
                option(value='off') Day off
            label(for='kin') Friday
            select#kin.form-control(name='kin')
                option(value='work') Work
                option(value='telwork') Telework
                option(value='off') Day off
            label(for='do') Saturday
            select#do.form-control(name='do')
                option(value='work') Work
                option(value='telwork') Telework
                option(value='off') Day off
            label(for='nichi') Sunday
            select#nichi.form-control(name='nichi')
                option(value='work') Work
                option(value='telwork') Telework
                option(value='off') Day off
        button.btn.btn-primary(type='submit', lg_language='_submit_add_')