extends layout

block content
    - let today = new Date()
    h3= 'Today is ' + today.getFullYear() + '-' + (today.getMonth()+1) + '-' + today.getDate()
    h3 Staff members
    ul
        each s in data.staff
            li
                = s.name
                ul
                    li= 'Day off ' + s.dayoff1
                    li= 'Day off ' + s.dayoff2
    div= JSON.stringify(data)