extends layout

block content
  h1 Timekeeper
  table.table.table-dark.table-striped
    thead
      tr
        th(span="col") Name
        th(span="col") Start
        th(span="col") End
    tbody
      each tk in timekeeper
        tr
          td(colspan="3", style="background-color:black;")= tk.datestr
        - const keys = Object.keys(tk)
        each key in keys
          if key != "datestr"
            tr
              td= key
              td.timestamp= tk[key].first
              td.timestamp= tk[key].last
  script.
    const timestamps = document.getElementsByClassName("timestamp");
    for(let i = 0; i < timestamps.length; i++) {
      timestamps[i].innerText = new Date(parseInt(timestamps[i].innerText));
    }
