extends layout

block content
    h1 Batch Add Personal Data
    form(action='/transferpersonal', method='post')
        div.form-group
            label(for='personaldata') Personal Data (JSON)
            textarea#personaldata.form-control(name='personaldata' required='true')
        button.btn.btn-primary(type='submit') Submit