extends layout

block content
    ul
        each val in users
            li
                = val.title
                ul
                    each content in val.contents
                        li= content.data