/* Global settings */
.hidden {
  display: none;
}
.data {
  display: none;
}

hr {
  border-color: rgba(255, 255, 255, 0.644);
}

th,
td {
  text-align: center;
}

.output {
  border-style: solid solid solid solid;
}

.checking {
  background-color: #ffff00;
}

.category {
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
  color: black;
  float: left;
  height: 36px;
}

.contentblock {
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Tooltip styling */
.tooltip {
  position: relative;
  display: inline-block;
  border: 2px solid rgb(75, 55, 255);
  border-radius: 100%;
  opacity: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 12px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -150px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptextright {
  visibility: hidden;
  width: 500px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 12px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  /* margin-left: -250px; */
}

.tooltip:hover .tooltiptextright {
  visibility: visible;
}

.tooltip b {
  color: rgb(226, 226, 30);
}

/* Category colors */
._order_item_statuses_ {
  background-color: #e0e034;
}
._order_modifying_ {
  background-color: #ff70d8;
}
._account_related_ {
  background-color: #80ff80;
}
._payment_shipping_ {
  background-color: #8888ff;
}
._after_service_shipping_ {
  background-color: #aa8888;
}
._after_service_defect_ {
  background-color: #aa8888;
}
._after_service_preowned_ {
  background-color: #aa8888;
}
._returns_refunds_ {
  background-color: #ffcc88;
}
._claims_cases_ {
  background-color: #ff8888;
}
._other_ {
  background-color: #ff6699;
}
._work_related_ {
  background-color: #9090e0;
}

/* Target colors */
._case_assist_ {
  background-color: #66ffff;
}
._customer_dep_ {
  background-color: #00ff99;
}
._logistics_dep_ {
  background-color: #33cc33;
}
._feedback_ {
  background-color: #ffcc66;
}
/*._other_ {
	background-color: #FF6699;
}*/
