body {
  padding: 15px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.entry_control {
  padding: 2px;
  border: 1px solid black;
  border-radius: 5%;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 1px;
  margin-bottom: 2px;
}

.update-status {
  border: 1px dotted black;
  border-radius: 3px;
  color: rgb(255, 200, 47);
  background: rgb(59, 59, 59);
  margin-left: 3px;
}

textarea {
  width: 100%;
}

/**/
.lennart {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(255, 255, 0, 0.25);
}
.schoppmann {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(255, 0, 0, 0.25);
}
.victoria {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(255, 0, 255, 0.25);
}
.jammie {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(0, 0, 255, 0.25);
}
.katie {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(0, 255, 255, 0.25);
}

.comment {
  border: 1px solid black;
  margin: 3px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.25);
}
