body {
  padding: 15px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.entry_control {
  padding: 2px;
  border: 1px solid black;
  border-radius: 5%;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 1px;
  margin-bottom: 2px;
}

.update-status {
  border: 1px dotted black;
  border-radius: 3px;
  color: rgb(255, 200, 47);
  background: rgb(59, 59, 59);
  margin-left: 3px;
}

textarea {
  width: 100%;
}

/**/
.lennart {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(255, 255, 0, 0.25);
}
.schoppmann {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(255, 0, 0, 0.25);
}
.victoria {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(255, 0, 255, 0.25);
}
.jammie {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(0, 0, 255, 0.25);
}
.katie {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(0, 255, 255, 0.25);
}

.comment {
  border: 1px solid black;
  margin: 3px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.25);
}

.new-content {
  background-color: rgba(255, 200, 47, 0.25);
}
.new-content:before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3fb83b;
  display: inline-block;
}

/*********************************/
.type0 {
  background-color: rgb(173, 173, 173);
}
.unavailable {
  color: rgb(173, 173, 173);
  background-color: rgba(173, 173, 173, 0.2);
  border: 1px solid rgb(173, 173, 173);
  border-radius: 5px;
  padding: 2px;
}

.type1 {
  background-color: rgb(73, 173, 73);
}
.available {
  color: rgb(73, 173, 73);
  background-color: rgba(73, 173, 73, 0.2);
  border: 1px solid rgb(73, 173, 73);
  border-radius: 5px;
  padding: 2px;
}

.type2 {
  background-color: rgb(173, 73, 73);
}
.suspended {
  color: rgb(173, 73, 73);
  background-color: rgba(173, 73, 73, 0.2);
  border: 1px solid rgb(173, 73, 73);
  border-radius: 5px;
  padding: 2px;
}
.delays {
  color: rgb(173, 173, 73);
  background-color: rgba(173, 173, 73, 0.2);
  border: 1px solid rgb(173, 173, 73);
  border-radius: 5px;
  padding: 2px;
}

.type3 {
  background-color: rgb(73, 73, 173);
}
.blocked {
  color: rgb(145, 145, 236);
  background-color: rgba(73, 73, 173, 0.2);
  border: 1px solid rgb(73, 73, 173);
  border-radius: 5px;
  padding: 2px;
}
.unknown {
  color: rgb(173, 73, 173);
  background-color: rgba(173, 73, 173, 0.2);
  border: 1px solid rgb(173, 73, 173);
  border-radius: 5px;
  padding: 2px;
}

.fast {
  color: green;
}
.slow {
  color: red;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
}

.popup-center {
  width: 50%;
  margin: 25%;
  border: 5px double white;
  background-color: black;
  padding: 8px;
  border-radius: 15px;
}

.issue_solved_yes {
  background-color: green;
}
.issue_solved_maybe {
  background-color: orange;
}
.issue_solved_no {
  background-color: red;
}

.needcheck {
  background-color: red;
}

.staff_warning {
  background-color: orange;
}
.staff_error {
  background-color: orangered;
}
.staff_off {
  background-color: palegreen;
}

.stickyheader {
  position: sticky;
  top: 0;
  background-color: #888888
}

.f_fact {
  color: rgb(0, 191, 255);
}
.f_box {
  display: block;
  color: rgb(0, 191, 255);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid gold;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 15px;
}
.f_box b {
  color: gold;
}

._work, ._telwork {
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px;
  background-color: rgb(70, 150, 70);
}

._holiday, ._off {
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px;
  background-color: rgb(150, 70, 70);
}

._vacation {
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px;
  background-color: rgb(150, 80, 150);
}

._2hoff_m, ._2hoff_e, ._halfoff_m, ._halfoff_e {
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px;
  background-color: rgb(140, 150, 70);
}

svg {
  background-color: white;
}

#workschedule {
  border: 1px solid grey;
}
.wsday {
  margin: 2px;
  border: 1px dashed white;
  border-radius: 6px;
}
.ws_full {
  background-color: rgb(0, 100, 0);
}
.ws_mix {
  background-color: rgb(50, 50, 0);
}
.ws_off {
  background-color: rgb(25, 0, 0);
}

.card {
  border: 5px dashed grey;
  border-radius: 10px;
  padding: 7px;
  margin-bottom: 10px;
}

.card-done {
  background-color: rgb(0, 61, 0);
}
.card-new {
  background-color: rgb(61, 0, 0);
}

.pill {
  border: 1px solid rgb(78, 78, 107);
  border-radius: 10px;
  padding: 2px;
  background-color: rgb(0, 100, 0);
  color: rgb(185, 255, 185);
}

.new_pill {
  border: 3px solid rgb(78, 107, 78);
  border-radius: 10px;
  padding: 2px;
  background-color: rgb(100, 0, 0);
  color: rgb(255, 185, 185);
}

/* Tracker styles */
.fullscreen-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
.popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
}
.popup-title {
  position: absolute;
  top: 5px;
  left: 5px;
}
.popup-history {
  position: absolute;
  top: 50px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  overflow-y: scroll;
}
.tracker-done {
  border: 1px solid greenyellow;
  background-color: black;
  color: greenyellow;
  border-radius: 3px;
  padding: 2px;
}
.tracker-expired {
  border: 1px solid rgb(255, 95, 47);
  background-color: black;
  color: rgb(255, 95, 47);
  border-radius: 3px;
  padding: 2px;
}
