body {
  padding: 15px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.topbar-nav li {
  display: inline;
  padding: 5px;
  border-radius: 25%;
  margin-right: 15px;
  background-color: rgb(244, 245, 255);
}

.topbar-nav a {
  padding: 10px;
}

.entry_control {
  padding: 2px;
  border: 1px solid black;
  border-radius: 5%;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 1px;
  margin-bottom: 2px;
}

.update-status {
  border: 1px dotted black;
  border-radius: 3px;
  color: rgb(255, 200, 47);
  background: rgb(59, 59, 59);
  margin-left: 3px;
}

textarea {
  width: 100%;
}
