extends ../layout

block content
  h1 Item Trends
  a.btn.btn-link(href='/ct') Back to dashboard
  if items && items.length
    table.table.table-dark.table-striped.mt-3
      thead
        tr
          th Item code
          th Cases
          th
      tbody
        each item in items
          tr
            td= item.item_code
            td= item.count
            td.text-end
              a.btn.btn-sm.btn-outline-primary(href=`/ct/item/${item.item_code}`) View
  else
    p.text-muted No items recorded yet.
